/* style.css */

/* en tête de la page */
[data-testid="stHeader"] {
    background-color: #aac0d5;
}

/* body */
[class="main st-emotion-cache-uf99v8 ea3mdgi3"] {
    background-image: url("https://img.freepik.com/free-photo/abstract-bluish-paint-background-wallpaper_53876-97482.jpg?w=1380&t=st=1704983050~exp=1704983650~hmac=4ee935cabbf6d79ae417ce489e0ac8ebb6cfbf3a0e2805c7513925d5767184cc");
    background-size: cover;
}

/* barre latérale */
[data-testid="stSidebarContent"] {
    background-color: #7b98b7;
}

/* titres */

[class="st-emotion-cache-10trblm e1nzilvr1"] {
    margin-left: 0px;
}

[class="st-emotion-cache-1629p8f e1nzilvr2"] {
    border: solid;
    border-color: #354d64;
    text-align: center;
    margin-bottom: 20px;
}

[class="st-emotion-cache-eczf16 e1nzilvr3"] {
    position: relative;
}

[class="st-emotion-cache-ocqkz7 e1f1d6gn5"] {
    margin-bottom: 30px;
}

[class="stHeadingContainer"] {
    margin-bottom: 10px;
}

/* title */

[id="8e6af571"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}

/* header */

[id="1-analyse-client"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}

[id="2-analyses-temporelles"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}

em {
        font-size : 25px;
        border-bottom : 2px solid white;
        padding-bottom : 3px;
        margin-bottom : 10px;
        padding-top : 30px;
        font-weight : bold;
        font-family : "Roboto Condensed";
}

p{
    text-align : left;
    margin-top : 30px;
    margin-bottom : 0px;
}
    
/* graphiques */

/* metric */

[data-testid="stMetric"]{
    padding : 0px 20px 0px 50px;
}

        
/* tableau */

[data-testid="stTableStyledTable"]{
    background-color : white;
}

[class^="col_heading level0 col"] {
    font-weight : bold;
    text-align: center !important;
    background-color : #7b98b7;
}

[class="blank st-emotion-cache-a51556 e1q9reml1"]{
    background-color : #7b98b7;
}

td[class^="st-emotion-cache-gdzsw5"] {
    text-align: center !important;
}

/* multi select */

.st-d4 {
    background-color: #7b98b7;
}
