/* style.css */


/* titres */



[class="st-emotion-cache-10trblm e1nzilvr1"] {
    margin-left: 0px;
}

[class="st-emotion-cache-1629p8f e1nzilvr2"] {
    border: solid;
    border-color: #354d64;
    text-align: center;
    margin-bottom: 20px;
    background-color : white;
}

[class="st-emotion-cache-eczf16 e1nzilvr3"] {
    position: relative;
}

[class="st-emotion-cache-ocqkz7 e1f1d6gn5"] {
    margin-bottom: 30px;
}

[class="stHeadingContainer"] {
    margin-bottom: 10px;
}

/* title */

[id="8e6af571"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}

/* header */

[id="1-analyse-client"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}

[id="2-analyses-temporelles"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}


[id="5c5bb660"]{
    text-align : center;
    background-color : white;
    font-family : "Roboto Condensed";
    padding: 10px 0px 10px 10px;
    font-weight : 200;
}


em {
        font-size : 25px;
        border-bottom : 2px solid black;
        padding-bottom : 3px;
        margin-bottom : 10px;
        padding-top : 30px;
        font-weight : bold;
        font-family : "Roboto Condensed";
}

p{
    text-align : left;
    margin-top : 30px;
    margin-bottom : 0px;
}
        
/* tableau */

[data-testid="stTableStyledTable"]{
    background-color : white;
}

[class^="col_heading level0 col"] {
    font-weight : bold;
    text-align: center !important;
    background-color : #7b98b7;
    color : white;
}

[class="blank st-emotion-cache-a51556 e1q9reml1"]{
    background-color : #7b98b7;
}

td[class^="st-emotion-cache-gdzsw5"] {
    text-align: center !important;
}

/* multi select */

[class="st-av st-d6 st-ax st-d2 st-az st-b0 st-bt st-d7 st-d8 st-bd st-be st-bf st-bg st-d9 st-da st-db st-dc st-an st-ao st-ap st-aq st-b1 st-dd st-de st-df st-b7 st-dg st-dh st-ca st-di st-dj st-dk st-d4 st-dl st-c7  st-dm"]{
    background-color: #7b98b7;
}



/* graphiques */

.slicetext {
            font-size: 20px !important;
        }

[class="plot-container plotly"]{
    border: solid;
    border-color: #354d64;
    border-width : 3px;
}


/* Style pour la table de Streamlit */
div[data-testid="stTable"] {
    border-collapse: collapse;
    width: 100%;
}

/* Style pour les cellules du tableau */
div[data-testid="stTable"] td, div[data-testid="stTable"] th {
    border: 2px solid #44566f; /* Couleur du trait de bordure des cellules */
    padding: 8px; /* Espace à l'intérieur des cellules */
    text-align: left;
}






    
